* {
    font-family: "Times New Roman", sans-serif;
}

html {
    height: 100vh; 
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(241, 240, 242);
}

.form {
    background-color: azure;
    padding-left: 20px;
}

form {
    display: grid;
    gap: 20px;
}

.input-block {
    display: grid;
    gap: 5px;
}

input[type="text"], input[type="number"] {
    width: 250px;
}


#display {
    margin: 0 20px 0 20px;
}

h1 {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    margin: 20px;
}

thead {
    background-color: rgb(225, 225, 225);
}

td, thead {
    text-align: center;
    border: 1px solid black;
    padding: 10px 20px;
}

.check-read, .check-not-read {
    font-family: sans-serif;
    color: white;
}
    
.check-read {
    background-color: green;
}

.check-not-read {
    background-color: red;
}

button {
    cursor: pointer;
    width: 90px;
    height: 30px;
    letter-spacing: 1.5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(249, 167, 219);
}
